.thumbnail {
  position: relative;

  &_img {
    height: 340px;
    object-fit: cover;
    border-radius: 10px;
    width: 100%;
    @media only screen and (max-width: 768px) {
      width: 100%;
      height: 255px;
    }
  }
  &_title {
    position: absolute;
    bottom: 14px;
    left: 15px;
    color: white;
    font-size: 18px;
    font-weight: 700;
  }
}
