.collapse_content {
  overflow: hidden;
  transition: max-height 0.3s ease-out;
}

.collapse_content p,
ul {
  padding: 15px;
  font-size: 18px;
  background-color: #f6f6f6;
  border-radius: 0px 0px 10px 10px;
  margin: 0;
  font-weight: 400;
}

.collapse button {
  background-color: #ff6060;
  border: none;
  color: white;
  padding: 10px 20px 10px 15px;
  align-items: center;
  border-radius: 5px;
  width: 100%;
  text-align: left;
  display: flex;
  justify-content: space-between;
  font-size: 24px;
  font-weight: 700;
  @media only screen and (max-width: 796px) {
    font-size: 13px;
  }
}

.collapse-icon {
  transition: transform 0.3s ease;
}

.collapse-icon.open {
  transform: rotate(-180deg);
}
