.header_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 45px 100px;
  @media only screen and (max-width: 768px) {
    padding: 20px;
  }
  &_logo img {
    @media only screen and (max-width: 768px) {
      width: 145px;
      height: 46px;
    }
  }
  &_nav_links ul {
    display: flex;
    gap: 57px;
    font-size: 24px;
    font-weight: 500;
    background-color: white;
    cursor: pointer;
    @media only screen and (max-width: 768px) {
      font-size: 12px;
      gap: 26px;
    }
  }

  &_nav_links a {
    text-decoration: none;
    color: unset;
  }
}

.active {
  border-bottom: 2px solid black;
}
